<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FYP | <%= title %></title> <!--< % variableName % > is the variable passed from parent.ejs, similar to props in vue.js-->
    <link rel="icon" type="image/x-icon" href="favicon.webp">
    <link rel="stylesheet" href="style.css">

</head>