<nav>
    <div class="site-title">
        <a href="/"><h1>Welcome to PCB defect detected station</h1></a>
        <p>Created by Lawrence and supervised by Dr Chang</p>
    </div>
    <ul>
        <li><a href="/create">New Defects</a></li>
        <li><a href="/defects">History</a></li>
        <li><a href="/about">About Us</a></li>
        
    </ul>
</nav>