<html lang="en">
    <%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %> <!-- '-'import/include other file to this file, like vue.js components-->

        <div class="defects content">
            <h2>About Us</h2>
            <p>IIIII</p>
            <p>just wanna tell you how I feeling</p>
            <p>gonna make you understand</p>
            <p>Never gonna give you up</p>
            <p>Never gonna let you down</p>
        </div>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>