<html lang="en">
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="style.css">

    <body>
        <%- include('./partials/nav.ejs') %> <!-- '-'import/include other file to this file, like vue.js components-->

        <div class="aboutUsContent">
            <h2>About Us Page</h2>
            <h3>Good morning, affternoon and evening guys, </h3>
            <h4>I am Lawrence Lim Chuen Le, a student of Univeristy Tunku Abdul Raman.<h4>
            <h4>This is my final year project and this website is created for my fyp topic --- PCB Defect Classifier</h4>
            <h4>And Dr Chang Jing Jing is the supervisor of this project</h4>
            <h4>All information will be used as fyp testing content, and will be removed after finished final year project.</h4>
            <p>(If I succeed in this topic, maybe in future there is a chances that this system will reborn XD)</p>
            <h4>Thank you for your support, and hope you guys have a nice day and dream.</h4>
            <p>If any suggestion or inquiry, please feel free contact me to share your mind. Email=<a class="italic underline">blondeezel@1utar.my</p></h4>
            <br>
            <img style="text-align: center;" src="takodachi.jpg" alt="WAH"></img>
        </div>

        <%- include('./partials/footer.ejs') %>
    </body>
</html>